body {
  font-family: "Montserrat", sans-serif;
}

/* Title and Navbar */
#title {
  background-color: #2155cd;
}

.body-container {
  padding-top: 20px;
  padding-bottom: 100px;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 65px;
  margin-top: 150px;
}

h2 {
  font-weight: 400;
  margin-bottom: 150px;
  opacity: 0.9;
}

a {
  color: #ece5c7;
  text-decoration: none;
}

nav {
  padding: 5px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 10px;
}

nav a {
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #ece5c7;
  font-weight: bold;
}

/* About Section */

.about-section {
  margin: 100px auto;
}

.about-section p {
  text-align: center;
  font-size: 25px;
}

.about-icon {
  color: #2155cd;
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.about-us {
  padding: 10px 30px;
}

h3 {
  font-family: "League Gothic", sans-seri;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}

/* Application Section */

#applications {
  color: #fff;
  background-color: #2155cd;
  font-size: 20px;
  padding: 50px 0;
}

#applications p {
  line-height: 1.7;
}

.app {
  letter-spacing: 1px;
}
/* Before and After Images */

.carousel {
  margin: 0 auto;
  width: 640px;
  height: 360px;
}

.fireplaceimg {
  width: 640px;
  height: 360px;
}
/* Footer */

footer {
  color: #ece5c7;
  background-color: #2155cd;
  padding: 50px 0;
}
